
.wrapper { margin: 0 auto; min-height: 100%;   position: static; overflow: hidden; }
/*Datatables style*/
#big_table_wrapper {background-color: #fff; }
#big_table_wrapper .dataTables_length {float:left;}
#big_table_wrapper .dataTables_filter {float:right;}
#big_Table_wrapper .ui-toolbar{padding:5px;}
#big_Table_wrapper .ui-toolbar{padding:5px;}
#big_table{width:100%;text-align: center;}
.dataTables_paginate .ui-button {    margin-right: -0.1em !important;}
.paging_full_numbers .ui-button {    color: #333333 !important;    cursor: pointer;    margin: 0;    padding: 2px 6px;}
.dataTables_info {    float: left;    width: 50%;}
.dataTables_info {    padding-top: 3px;}
.dataTables_paginate {    float: right;    text-align: right;}
.dataTables_paginate {    width: auto;}
.paging_full_numbers {    width: 350px !important;}
#big_table_processing > img {padding-left:20px;}
div.dataTables_length select {
    color: #000000;
}
div#big_table_filter input {
    color: #000000;
}