/* CSS Document */

@charset "UTF-8";

html, body {
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	padding: 0px;
	margin: 0px;
	line-height:21px;
	/*background: #F5F5F5;
	background: #F5F6F7;*/
}

/* Link Styles */
a:link, a:visited {
	color:#33628c;
	text-decoration: none;
}

a:hover {
	color:#e1292f;
	text-decoration: none;
}

img { border:none; }

h1,h2,h3,h4,h5,h6 { padding: 0px; margin: 0px; }

.container_c {
	width: 100%;
}

.container {
	width: 1024px;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	font-size: 12px;
	text-decoration: none;
        border: 1px solid #000000;
        float: left;
}

.container-full-row1 {
	width: 1014px;
	padding: 5px 5px 5px 5px;
        float: left;
        font-size: 22px;
        border-bottom: 1px solid #000000;
        text-align: center;
}
.container-full-row2 {
	width: 1014px;
	padding: 5px 5px 5px 5px;
        float: left;
        font-size: 15px;
        border-bottom: 1px solid #000000;
        text-align: center;
}
.container-full-row3 {
	width: 1014px;
	padding: 3px 5px 3px 5px;
        float: left;
        font-size: 11px;
        border-bottom: 1px solid #000000;
        text-align: center;
        font-weight: bold;
}

.container-full-row4 {
	width: 1014px;
	padding: 3px 5px 3px 5px;
        float: left;
        font-size: 11px;
        border-bottom: 1px solid #000000;
}
.container-full-row4_c1 {
	width: 120px;
        float: left;
        padding-left:  35px;
}
.container-full-row4_c2 {
	width: 450px;
        float: left;
}
.container-full-row4_c3 {
	width: 125px;
        float: left;
}
.container-full-row4_c4 {
	width: 175px;
        float: left;
}
.container-full-row5 {
	width: 1014px;
        height: 14px;
	padding: 3px 5px 3px 5px;
        float: left;
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row6 {
	width: 1024px;
        float: left;
        font-size: 9px;
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
        font-weight: bold;
        text-align: center;
}
.container-full-row6_c1 {
	width: 35px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c2 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c3 {
	width: 150px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6-c4 {
	width: 150px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c5 {
	width: 150px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c6 {
	width: 80px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c7 {
	width: 50px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c8 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c9 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c10 {
	width: 60px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c11 {
	width: 65px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c12 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row6_c13 {
	width: 102px;
        float: left;
        padding: 5px 0px 5px 0px;
}
.container-full-row7 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row7_c1 {
	width: 35px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c2 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c3 {
	width: 150px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7-c4 {
	width: 150px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7-c5 {
	width: 150px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c6 {
	width: 80px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c7 {
	width: 50px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c8 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c9 {
	width: 67px;
        float: left;
        height: 12px;
        text-align: right;
        padding: 4px 4px 4px 4px;
        border-right: 1px solid #000000;
}
.container-full-row7_c10 {
	width: 60px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c11 {
	width: 65px;
        float: left;
        height: 12px;
        text-align: right;
        padding: 4px 4px 4px 4px;
        border-right: 1px solid #000000;
}
.container-full-row7_c12 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row7_c13 {
	width: 102px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row8 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row8_c1 {
	width: 36px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
}
.container-full-row8_c2 {
	width: 76px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row8_c3 {
	width: 151px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row8-c4 {
	width: 150px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row8-c5 {
	width: 145px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 5px;
        border-right: 1px solid #000000;
        text-align: left;
}
.container-full-row8-c6-7-8-9-10-11 {
	width: 275px;
        float: left;
        height: 12px;
        padding: 4px 4px 4px 4px;
        text-align: right;
        border-right: 1px solid #000000;
}
.container-full-row8_c12 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row8_c13 {
	width: 102px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row08 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row08_c1 {
	width: 35px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row08_c2 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row08_c3 {
	width: 140px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row08_c4 {
	width: 140px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row08_c5 {
	width: 135px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 5px;
        border-right: 1px solid #000000;
        text-align: left;
}
.container-full-row08_c6_7_8_9_10_11 {
	width: 345px;
        float: left;
        height: 12px;
        padding: 4px 5px 4px 0px;
        border-right: 1px solid #000000;
        text-align: right;
}
.container-full-row08_c12 {
	width: 55px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row08_c13 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row9 {
	width: 944px;
	padding: 30px 0px 30px 80px;
        float: left;
        font-size: 11px;
        border-bottom: 1px solid #000000;
}
.container-full-row10 {
	width: 1024px;
        float: left;
        font-size: 9px;
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
        font-weight: bold;
        text-align: center;
}
.container-full-row10_c1 {
	width: 35px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c2 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c3 {
	width: 145px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c4 {
	width: 180px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c5 {
	width: 190px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c6 {
	width: 55px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c7 {
	width: 45px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c8 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c9 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c10 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row10_c11 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
}
.container-full-row11 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row11_c1 {
	width: 35px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c2 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c3 {
	width: 145px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c4 {
	width: 180px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c5 {
	width: 190px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c6 {
	width: 55px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c7 {
	width: 45px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c8 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c9 {
	width: 66px;
        float: left;
        height: 12px;
        padding: 4px 4px 4px 0px;
        text-align: right;
        border-right: 1px solid #000000;
}
.container-full-row11_c10 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row11_c11 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row12 {
	width: 1024px;
        float: left;
        font-size: 9px;
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
        font-weight: bold;
        text-align: center;
}
.container-full-row12_c1 {
	width: 40px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c2 {
	width: 80px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c3 {
	width: 250px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c4 {
	width: 250px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c5 {
	width: 50px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c6 {
	width: 50px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c7 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c8 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c9 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row12_c10 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
}
.container-full-row13 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row13_c1 {
	width: 40px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c2 {
	width: 80px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c3 {
	width: 250px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c4 {
	width: 250px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c5 {
	width: 50px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c6 {
	width: 50px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c7 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c8 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c9 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row13_c10 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row14 {
	width: 1024px;
        float: left;
        font-size: 9px;
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
        font-weight: bold;
        text-align: center;
}
.container-full-row14_c1 {
	width: 40px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c2 {
	width: 80px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c3 {
	width: 220px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c4 {
	width: 180px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c5 {
	width: 220px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c6 {
	width: 50px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c7 {
	width: 70px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c8 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
        border-right: 1px solid #000000;
}
.container-full-row14_c9 {
	width: 75px;
        float: left;
        padding: 5px 0px 5px 0px;
}
.container-full-row15 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row15_c1 {
	width: 40px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c2 {
	width: 80px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c3 {
	width: 220px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c4 {
	width: 180px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c5 {
	width: 220px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c6 {
	width: 50px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c7 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c8 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row15_c9 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row16 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row16-c1 {
	width: 36px;
        height: 12px;
        float: left;
        padding: 2px 0px 2px 0px;
}
.container-full-row16_c2 {
	width: 76px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
}
.container-full-row16_c3 {
	width: 146px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
}
.container-full-row16_c4 {
	width: 180px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
        border-right: 1px solid #000000;
}
.container-full-row16_c5 {
	width: 186px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 4px;
        text-align: left;
        border-right: 1px solid #000000;
}
.container-full-row16_c6_7_8_9 {
	width: 239px;
        float: left;
        height: 12px;
        padding: 2px 4px 2px 0px;
        text-align: right;
        border-right: 1px solid #000000;
}
.container-full-row16_c6 {
	width: 45px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
        border-right: 1px solid #000000;
}
.container-full-row16_c7 {
	width: 45px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
        border-right: 1px solid #000000;
}
.container-full-row16_c8 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
        border-right: 1px solid #000000;
}
.container-full-row16_c9 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
        border-right: 1px solid #000000;
}
.container-full-row16-c10 {
	width: 71px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
}
.container-full-row16-c11 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 2px 0px 2px 0px;
}
.container-full-row17 {
	width: 1024px;
        float: left;
        font-size: 9px;
        text-align: center;
        border-bottom: 1px solid #000000;
}
.container-full-row17-c1 {
	width: 36px;
        height: 12px;
        float: left;
        padding: 4px 0px 4px 0px;
}
.container-full-row17_c2 {
	width: 76px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row17_c3 {
	width: 146px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row17_c4 {
	width: 180px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row17_c5 {
	width: 186px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 4px;
        text-align: left;
        font-weight: bold;
        border-right: 1px solid #000000;
}
.container-full-row17_c6_7_8_9 {
	width: 239px;
        float: left;
        height: 12px;
        padding: 4px 4px 4px 0px;
        text-align: right;
        font-weight: bold;
        border-right: 1px solid #000000;
}
.container-full-row17_c6 {
	width: 45px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row17_c7 {
	width: 45px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row17_c8 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row17_c9 {
	width: 70px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
        border-right: 1px solid #000000;
}
.container-full-row17-c10 {
	width: 71px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}
.container-full-row17-c11 {
	width: 75px;
        float: left;
        height: 12px;
        padding: 4px 0px 4px 0px;
}

.container1_c {
	width: 100%;
}

.container1 {
	width: 750px;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	font-size: 12px;
	text-decoration: none;
        border: 1px solid #000000;
        float: left;
}
.container1-full-row1 {
	width: 740px;
	padding: 5px 5px 5px 5px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
}
.container1-full-row1_1 {
	width: 740px;
	padding: 5px 0px 0px 0px;
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
}
.container1-full-row1_2 {
	width: 740px;
	padding: 5px 0px 0px 0px;
        float: left;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
}
.container1-full-row1_3 {
	width: 740px;
	padding: 5px 0px 0px 0px;
        float: left;
        font-size: 13px;
        text-align: center;
}
.container1-full-row1_4 {
	width: 740px;
	padding: 5px 0px 0px 0px;
        float: left;
        font-size: 13px;
        text-align: center;
        font-style: italic;
}
.container1-full-row1_5 {
	width: 740px;
	padding: 5px 0px 5px 0px;
        float: left;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
}
.container1-full-row2 {
	width: 750px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
}
.container1-full-row2_left {
	width: 354px;
        height: 110px;
	padding: 10px 10px 10px 10px;
        float: left;
        font-size: 13px;
        border-right: 1px solid #000000;
        line-height: 18px;
}
.container1-full-row2_right {
	width: 375px;
        height: 130px;
        float: left;
        font-size: 12px;
}
.container1-full-row2_right_1 {
	width: 355px;
        height: 60px;
        padding: 5px 10px 5px 10px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
}
.container1-full-row2_right_2 {
	width: 355px;
        height: 39px;
        padding: 10px 10px 10px 10px;
        float: left;
        font-size: 12px;
}
.container1-full-row3 {
	width: 740px;
        height: 25px;
	padding: 5px 5px 5px 5px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
}
.container1-full-row4 {
	width: 750px;
        height: 350px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
}
.container1-full-row4-1 {
	width: 750px;
        height: 30px;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #000000;
        font-weight: bold;
}
.container1-full-row4-1-c1 {
	width: 25px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-1-c2 {
	width: 320px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-1-c3 {
	width: 40px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-1-c4 {
	width: 80px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-1-c5 {
	width: 90px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-1-c6 {
	width: 90px;
        height: 14px;
	padding: 8px 8px 8px 8px;
        float: left;
}
.container1-full-row4-2 {
	width: 750px;
        height: 80px;
        float: left;
        font-size: 12px;
}
.container1-full-row4-2-c1 {
	width: 25px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-2-c2 {
	width: 320px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-2-c3 {
	width: 40px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-2-c4 {
	width: 80px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-2-c5 {
	width: 90px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row4-2-c6 {
	width: 90px;
        height: 83px;
	padding: 8px 8px 8px 8px;
        float: left;
}
.container1-full-row04-2 {
	width: 750px;
        height: 220px;
        float: left;
        font-size: 12px;
        line-height: 22px;
}
.container1-full-row04-2-c1 {
	width: 25px;
        height: 223px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
        text-align: right;
}
.container1-full-row04-2-c2 {
	width: 320px;
        height: 223px;
	padding: 8px 8px 8px 8px;
        float: left;
        font-size: 11px;
        border-right: 1px solid #000000;
        text-align: right;
}
.container1-full-row04-2-c3 {
	width: 40px;
        height: 223px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row04-2-c4 {
	width: 80px;
        height: 223px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row04-2-c5 {
	width: 90px;
        height: 223px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
}
.container1-full-row04-2-c6 {
	width: 90px;
        height: 223px;
        font-size: 11px;
	padding: 8px 8px 8px 8px;
        float: left;
}
.container1-full-row5 {
	width: 750px;
        height: 34px;
        float: left;
        font-size: 13px;
        border-bottom: 1px solid #000000;
}
.container1-full-row5-c1 {
	width: 623px;
        height: 18px;
	padding: 8px 8px 8px 8px;
        float: left;
        text-align: right;
        border-right: 1px solid #000000;
}
.container1-full-row5-c6 {
	width: 90px;
        height: 18px;
	padding: 8px 8px 8px 8px;
        float: left;
        
}
.container1-full-row6 {
	width: 750px;
        height: 34px;
        float: left;
        font-size: 13px;
        border-bottom: 1px solid #000000;
}
.container1-full-row6-c1 {
	width: 363px;
        height: 18px;
	padding: 8px 8px 8px 8px;
        float: left;
        font-weight: bold;
        text-align: right;
}
.container1-full-row6-c3 {
	width: 244px;
        height: 18px;
	padding: 8px 8px 8px 8px;
        float: left;
        border-right: 1px solid #000000;
        text-align: center;
        font-weight: bold;
}
.container1-full-row6-c6 {
	width: 90px;
        height: 18px;
	padding: 8px 8px 8px 8px;
        float: left;
        font-weight: bold;
}
.container1-full-row7 {
	width: 734px;
        height: 17px;
        float: left;
        padding: 8px 8px 8px 8px;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid #000000;
}
.container1-full-row8 {
	width: 750px;
        float: left;
        font-size: 11px;
}
.container1-full-row8-c1 {
	width: 500px;
        height: 145px;
        float: left;
        padding: 8px 8px 8px 8px;
        border-right: 1px solid #000000;
}
.container1-full-row8-c1-h {
	font-weight: bold;
        font-size: 16px;
        text-decoration: underline;
        padding: 0px 0px 10px 0px;
}
.container1-full-row8-c2 {
	width: 217px;
        height: 144px;
        float: left;
        text-align: right;
        font-weight: bold;
        padding: 8px 8px 8px 8px;
        border-bottom: 1px solid #000000;
}
.container1-full-row8-part {
	width: 734px;
        float: left;
        font-size: 11px;
        padding: 8px 8px 8px 8px;
        border-bottom: 1px solid #000000;
}
.container1-full-row9 {
	width: 734px;
        float: left;
        padding: 8px 8px 8px 8px;
        font-size: 11px;
        text-align: center;
}